@using kfh_expense_app.Services
@inherits LayoutComponentBase
@implements IDisposable
@inject AuthSessionService AuthSessionService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-dark-bg bg-dark px-4">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/expenses">Expense App</a>

        @if (AuthSessionService.IsAuthenticated)
        {
            <div class="d-flex align-items-center gap-3">
                <span class="text-light">Hello, @AuthSessionService.Username!</span>
                <button class="btn btn-sm btn-outline-light" @onclick="Logout">Logout</button>
            </div>
        }
    </div>
</nav>
<main class="content px-4">
    @Body
</main>

@code {
    protected override void OnInitialized()
    {
        AuthSessionService.OnChange += OnAuthChanged;
    }

    void OnAuthChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    void Logout()
    {
        AuthSessionService.Logout();
        NavigationManager.NavigateTo("/login");
    }

    public void Dispose()
    {
        AuthSessionService.OnChange -= OnAuthChanged;
    }
}